<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>label text</key>
	<string>tekst etykiety</string>
	<key>Button</key>
	<string>Przycisk</string>
	<key>placeholder text</key>
	<string>tekst zastępczy</string>
	<key>example text</key>
	<string>przykładowy tekst</string>
</dict>
</plist>
